.add-form {
    margin-bottom: 40px;
    
  }
  .container {
  max-width: 1000px;
  margin: 30px auto;
  overflow: auto;
  min-height: 600px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
}
  