<!-- <div class="container">
  
  <router-outlet></router-outlet>
  <app-footer></app-footer>
  
</div> -->
<div>
  <ul ngbNav #nav="ngbNav" class="nav-tabs">
    <h1>
      {{ title }}
    </h1>
    <li ngbNavItem>
      <a ngbNavLink>Films</a>
      <ng-template ngbNavContent>
        <app-header></app-header>
        <app-films></app-films>
      </ng-template>
    </li>
    <li ngbNavItem>
      <a ngbNavLink>Rooms</a>
      <ng-template ngbNavContent>
        
        <app-header></app-header>
        <app-rooms></app-rooms>
      </ng-template>
  
    </li>
    <li ngbNavItem>
      <a ngbNavLink>Show</a>
      <ng-template ngbNavContent>
        <app-header></app-header>
        <app-shows></app-shows>
      </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav">
    
  </div>
  <router-outlet></router-outlet>
</div>

